/* Speedconnect (Ram) */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --main-font: 'Poppins', sans-serif;
    --regular: 400;
    --bold: 700;
    --white: #FFFFFF;
    --light: #F4F4F4;
    --dark: #000000;
    --primary-color: #0F52FB;
    --secondary-color: #333333;
    --border-color: #D5D5D5;
    --bs-success-rgb: 41,154,72;
    --bs-danger-rgb: 216,59,40;
    --body: 16px;
    --small: 11px;
    --shadow: 0px 0px 6px #00000029;
    --radius: 5px;
    --radius-large: 2rem;
    --transition: all .3s ease;
}

/* Reset css */

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

*,
::after,
 ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img,
svg,
video {
    max-width: 100%;
    vertical-align: middle;
}

iframe {
    border: none;
    max-width: 100%;
    max-height: 100%;
}

:focus {
    outline: 0;
}

a {
    transition: var(--transition);
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
    font-weight: 600;
    line-height: 1.4;
}

p {
    margin-bottom: 1rem;
}

b {
    font-weight: 500;
}

strong {
    font-weight: 600;
}

.h1,
h1 {
    font-size: 40px;
}

.h2,
h2 {
    font-size: 36px;
}

.h3,
h3 {
    font-size: 30px;
}

.h4,
h4 {
    font-size: 24px;
}

.h5,
h5 {
    font-size: 20px;
}

.h6,
h6 {
    font-size: var(--body);
}

sup {
    top: -.3em;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    color: var(--secondary-color);
}

.table>thead {
    white-space: nowrap;
}



/* Scrollbar css */

* {
    scrollbar-color: rgb(97 97 100 / 20%) var(--light);
    scrollbar-width: thin;
    scrollbar-face-color: var(--light);
    scrollbar-shadow-color: var(--light);
    scrollbar-highlight-color: rgb(97 97 100 / 20%);
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: var(--radius);
    background-color: var(--light);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--light);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(97 97 100 / 20%);
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color);
}

.rounded {
    border-radius: 10px !important;
}

.rounded-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.rounded-bottom {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.rounded-2x {
    border-radius: var(--radius-large) !important;
}

.z-index-1 {
    z-index: 1;
}

.bg-white {
    background-color: var(--white);
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.border-success {
    border-color: #299A48 !important;
}

.text-muted {
    color: #707070 !important;
}

.box-shadow {
    box-shadow: var(--shadow);
}

.cp-enable {
    cursor: pointer;
}

.object-cover {
    object-fit: cover !important;
}

.object-contain {
    object-fit: contain !important;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--main-font);
    font-weight: var(--regular);
    font-size: var(--body);
    color: var(--secondary-color);
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-word;
    background-color: var(--light);
    background-image: url(../svg/dotteds.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    /* overflow: -moz-scrollbars-none;
        -ms-overflow-style: none; */
}


/* body::-webkit-scrollbar {
    width: 0 !important;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    /* -webkit-text-fill-color: var(--dark);
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: inset 0 0 4px var(--primary-color);
    -webkit-box-shadow: inset 0 0 4px var(--primary-color); */
    transition: background-color 5000s ease-in-out 0s;
}

.form-control,
.form-select {
    outline: none;
    border-radius: var(--radius);
    font-size: var(--body);
}

.form-label {
    margin-bottom: .2rem;
}

label.required:after {
    content: '*';
    color: red;
    margin-left: 2px;
}

.error-message {
    font-size: var(--small);
    color: red;
}

.form-check-input {
    min-width: 1em;
    cursor: pointer;
}

form .avatar,
#avatarImg {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: var(--radius);
}

.small,
small {
    font-size: var(--small) !important;
}

.multiselect.dropdown-toggle {
    text-align: left;
    border: 1px solid #ced4da;
    border-radius: var(--radius);
    background-color: var(--white);
    background-image: url(../svg/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 13px;
    padding: .375rem 1.5rem .375rem .75rem;
}

.multiselect.dropdown-toggle::after {
    display: none;
}

input[name="name"],
input[name="first_name"],
input[name="last_name"] {
    text-transform: capitalize;
}

input[name="email"] {
    text-transform: lowercase;
}

.file-choose {
    padding: 1rem;
    border-radius: var(--radius);
    background-color: var(--light);
    position: relative;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.file-choose input[type="file"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


/* Buttons */

button, input, optgroup, select, textarea {
    font-family: var(--main-font);
}

.btn, button {
    font-size: var(--body);
    border-radius: 5px;
    font-weight: 500;
    white-space: nowrap;
}

.btn-outline {
    background-color: var(--white);
    border-color: var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: 500;
}

.btn-outline-danger {
    color: rgba(var(--bs-danger-rgb));
    border-color: rgba(var(--bs-danger-rgb));
}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--white);
    transition: 0.3s all ease;
}
.btn-primary img {
    margin-left: 15px;
    margin-top: -1px;
    transition: 0.3s all ease;
}
.btn-primary:hover img {
   transform: translateX(10px);
   transition: 0.3s all ease;
}
.btn-primary.add-cart {
    border: 1px solid var(--primary-color);
    background-color: #fff;
    color: var(--primary-color);
}
.btn-primary.add-cart:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--white);
    transition: 0.3s all ease;
}

.btn-fill,
.btn-fill:hover,
.btn-outline:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-close:focus, .btn:focus, button:focus, .form-control:focus,
.form-select:focus, .accordion-button:not(.collapsed), .accordion-button:focus {
    outline: 0;
    box-shadow: none;
}

.badge {
    font-weight: 500;
    color: var(--primary-color);
    background-color: var(--light);
}

.online, .offline {
    position: relative;
}

.online::after, .offline::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: var(--radius-large);
    border: 1px solid var(--border-color);
}

.circle-3x.online::after, .circle-3x.offline::after {
    right: 5px;
    bottom: 5px;
}

.circle-4x.online::after, .circle-4x.offline::after {
    right: 8px;
    bottom: 8px;
}

.online::after {
    background-color: #4AD500;
}

.offline::after {
    background-color: red;
}

/* Modal */

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: var(--primary-color);
}

.modal-content {
    border-radius: 10px;
}

.btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    text-shadow: none;
    opacity: 1;
    font-size: .8rem;
    width: 30px;
    height: 30px;
    color: var(--dark);
    background-color: var(--light);
    border-radius: var(--radius-large);
    box-sizing: border-box;
}

[class^=circle-] {
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--secondary-color);
}

[class^=circle-1x] {
    width: 32px;
    min-width: 32px;
}

[class^=circle-2x] {
    width: 42px;
    min-width: 42px;
}

[class^=circle-3x] {
    width: 74px;
    min-width: 74px;
    font-size: 1.5rem;
}

[class^=circle-4x] {
    width: 100px;
    min-width: 100px;
    font-size: 2rem;
}

[class^=circle-]::before {
    content: '';
    display: block;
    padding-top: 100%;
}

[class^=circle-]>* {
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ellipsis-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.ellipsis-5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.ellipsis-6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}


/* SVG icons size */

.svg-1x {
    height: 16px;
    width: 16px;
}

.svg-2x {
    height: 24px;
    width: 24px;
}

.svg-3x {
    height: 32px;
    width: 32px;
}

.svg-4x {
    height: 40px;
    width: 40px;
}

/* offcanvas */

.offcanvas {
    overflow: hidden;
    box-shadow: var(--shadow);
    max-width: 320px;
}

.offcanvas-start {
    border-radius: 0 var(--radius) var(--radius) 0;
}

.offcanvas-end {
    border-radius: var(--radius) 0 0 var(--radius);
}

.offcanvas-header {
    padding: .5rem 1rem;
    background-color: var(--light);
}

.nav-tabs .nav-link {
    color: var(--secondary-color);
    width: 100%;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border: 0;
    border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    background-color: transparent;
    font-weight: 600;
}

.offcanvas .nav-tabs .nav-link.active {
    color: var(--primary-color);
}


/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    min-height: 1px;
    padding: 0 .25rem;
}

.branding-slider .slick-slide>div {
    height: 100%;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
    position: absolute;
    cursor: pointer;
    color: currentColor;
    top: 0;
    padding: 0;
    z-index: 1;
    border: solid 1px var(--border-color);
    background-color: var(--white);
    border-radius: var(--radius-large);
    color: var(--dark);
    font-size: 0;
    width: 32px;
    height: 32px;
}

.slick-arrow::before {
    font-family: bootstrap-icons !important;
    font-size: 1rem;
}

.slick-arrow[aria-disabled="true"] {
    opacity: 0;
    cursor: no-drop;
    visibility: hidden;
}

.slick-arrow.slick-prev {
    right: 2.5rem;
}

.slick-arrow.slick-next {
    right: 0;
}

.slick-arrow.slick-prev::before {
    content: "\f12c";
}

.slick-arrow.slick-next::before {
    content: "\f135";
}

.slick-arrow:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
}


/* Social Links */
.social-links {
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    column-gap: 35px;
    margin: 40px 0 50px;
}

.social-links li a {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-links li a:hover {
    color: white;
    opacity: 0.8;
}


/*** Emoticons Icons ******/

#background-wrap {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    max-width: 290px;
}


/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}


/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 39%;
    top: 5%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 33%;
    top: 80%;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 27%;
    top: 40%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 20%;
    top: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 30%;
    top: 50%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 50%;
    top: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 12s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 12s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 12s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 65%;
    top: 70%;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 80%;
    top: 10%;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 14s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 14s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 14s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 43%;
    top: 50%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 80%;
    top: 80%;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x11 {
    -webkit-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 18%;
    top: 15%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x12 {
    -webkit-animation: animateBubble 12s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 12s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 12s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 35%;
    top: 40%;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x13 {
    -webkit-animation: animateBubble 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 20%;
    top: 40%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

.x14 {
    -webkit-animation: animateBubble 6s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 6s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 6s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 38%;
    top: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x15 {
    -webkit-animation: animateBubble 13s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 13s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 13s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 48%;
    top: 50%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x16 {
    -webkit-animation: animateBubble 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 30%;
    top: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

.x17 {
    -webkit-animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 40%;
    top: 70%;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x18 {
    -webkit-animation: animateBubble 14s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 14s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 14s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 20%;
    top: 10%;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x19 {
    -webkit-animation: animateBubble 8s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 8s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 8s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 55%;
    top: 50%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x20 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 60%;
    top: 80%;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}


/* OBJECTS */

.emoticon-icon {
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.emoticon-icon img {
    width: 100%;
}

.emoticon-icon:after {
    content: "";
    position: absolute;
    left: 10px;
    height: 90px;
    width: 90px;
}